*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #ecf0f1;
  background-color: #1b1464;
  overflow-x: hidden;
}
